<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link
      href="https://unpkg.com/sanitize.css"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>How to use this app?</title>
  </head>
  <body>
    <header>
      <a href="/" class="topLink">TOP</a>
      <a href="/how" class="howtoLink">How to use...?</a>
    </header>
    <div  class="explainContent">
      <h1>~ How to use this app? ~</h1>
      <p class="explain">1. Choose Your Ramen Image.</p>
      <img src="../static/img/ramen.png" alt="explained Ramen image">
      <p class="addedExplain">*You should choose Square Image, And the Ramen should be put on the Center of Image for Analysis.</p>
      <p class="explain">2. AI Calculates the Expected Populality Score from Your Image!</p>
      <img src="../static/img/brain.png" alt="ai brain image"><img src="../static/img/fx.png" alt="calculate fx image">
    </div>
  </body>
</html>
